

<link rel="stylesheet" href="~/css/faqs.css" asp-append-version="true" />
<img src="~/img/curl_vector.png" alt="vector" class="floating-image">
<div class="faq-container">
    <!-- VERTICAL -->
    <div class="faq-content">
        <!-- WIDE IMAGE-->
        <div class="image-container">
           <div class="image-rectangle">HELLO, HOW CAN WE HELP?</div>
        </div>
        <!-- HORIZONTAL -->
        <div class="main-cat-container">
            <!-- VERTICAL -->
            <div class="cat-container">
                <div class="cat-border">
                    <ul class="cat-list">
                        <li class="cat-item all" data-target="all-container">
                            <i class="fas fa-list"></i> &nbsp; Overview
                        </li>
                        <li class="cat-item" data-target="general-container">
                            <i class="fas fa-info-circle"></i> &nbsp; General Information
                        </li>
                        <li class="cat-item" data-target="packaging-container">
                            <i class="fas fa-box"></i> &nbsp; Packaging Guidelines
                        </li>
                        <li class="cat-item" data-target="payout-container">
                            <i class="fas fa-money-bill-wave"></i> &nbsp; Payment Details
                        </li>
                        <li class="cat-item" data-target="shipping-container">
                            <i class="fas fa-truck"></i> &nbsp; Shipping Instructions
                        </li>
                    </ul>
                </div>
            </div>
            <!-- HORIZONTAL -->
            <div class="question-container">
                <!-- Overview Section -->
                <div class="all-container">
                    <div class="logo-container">
                        <img src="~/img/question_mark.webp" />
                        <div class="category-header">
                            <span class="cat-title">Overview</span>
                            <span>Explore answers to common questions and get assistance across all categories.</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span class="question">
                                Is selling diabetic test strips legal?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Yes, diabetic test strips are available over-the-counter, so it is legal to sell them to third parties without a prescription.
                            </div>
                        </div>
                        <div class="concerns-content">
                            <span class="question">
                                Why do prices vary for test strips?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Prices fluctuate because diabetic test strips are considered commodities, and their pricing depends on market supply and demand. A drop in price usually reflects an oversupply.
                            </div>
                        </div>
                        <div class="concerns-content">
                            <span class="question">
                                Can I receive my shipping label via email?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Absolutely! You can request an "Email Shipping Label" directly on the quote form.
                            </div>
                        </div>
                        <div class="concerns-content">
                            <span class="question">
                                Who covers the shipping cost?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                We cover all shipping costs for return labels. You can request a pre-paid shipping label to be emailed, mailed, or receive a complete shipping kit.
                            </div>
                        </div>
                        <div class="concerns-content">
                            <span class="question">
                                What are the acceptable conditions for the boxes?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                <h4>Boxes in the following conditions can be accepted at 50% value if sealed:</h4>
                                Small rips, non-blood stains, slightly crushed boxes, expiration dates partially obscured but still readable, or expiration dates within 4-7 months.
                                <h4>We cannot accept boxes with:</h4>
                                Stains, marks, opened/unsealed boxes, large rips, non-listed brands, heavily crushed boxes, damaged seals, or expired products within 4 months.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- General Information Section -->
                <div class="general-container">
                    <div class="logo-container">
                        <img src="~/img/test_strips.webp" />
                        <div class="category-header">
                            <span class="cat-title">General Information</span>
                            <span>Find answers to common general inquiries.</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                Is it legal to sell unused diabetic testing supplies?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Yes, it is legal to sell unused diabetic test strips as they are available over-the-counter and do not require a prescription.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Packaging Guidelines Section -->
                <div class="packaging-container">
                    <div class="logo-container">
                        <img src="~/img/packaging_icon.webp">
                        <div class="category-header">
                            <span class="cat-title">Packaging Guidelines</span>
                            <span>Guidelines for packaging your test strips for shipment.</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                What are the acceptable box conditions?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                <h4>Acceptable boxes (at 50% value, if sealed):</h4>
                                Small rips, non-blood stains, slight crushing, partially obscured expiration dates (still legible), or expiration dates within 4-7 months.
                                <h4>Unacceptable boxes:</h4>
                                Stains, marks, opened boxes, large rips, non-listed brands, severely crushed, damaged seals, or expired products within 4 months.
                            </div>
                        </div>
                        <div class="concerns-content">
                            <span>
                                Should I remove pharmacy labels?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                No, do not remove pharmacy labels. Removing them can damage the box, reducing your payout. We will professionally remove the labels and cover any personal information.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Payment Details Section -->
                <div class="payout-container">
                    <div class="logo-container">
                        <img src="~/img/payout_icon.webp" />
                        <div class="category-header">
                            <span class="cat-title">Payment Details</span>
                            <span>Learn more about payout procedures and pricing variations.</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                Why do prices fluctuate?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                The prices for diabetic test strips fluctuate due to market conditions. A price drop usually indicates oversupply and insufficient demand from pharmacies.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Instructions Section -->
                <div class="shipping-container">
                    <div class="logo-container">
                        <img src="~/img/shipping_icon.webp" />
                        <div class="category-header">
                            <span class="cat-title">Shipping Instructions</span>
                            <span>Guidance for shipping your items securely and efficiently.</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                Can I receive a shipping label via email?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Yes, simply select the “Email Shipping Label” option when completing the quote form, and we’ll send it directly to your inbox.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll(".cat-item");
        const sections = document.querySelectorAll(".question-container > div");

        function showSection(target) {
            sections.forEach(section => {
                section.style.display = section.classList.contains(target) ? "block" : "none";
            });
        }

        showSection("all-container");

        items.forEach(item => {
            item.addEventListener("click", function () {
                const target = this.getAttribute("data-target");
                showSection(target);
            });
        });

        var defaultCategory = document.querySelector(".cat-item.all");

        if (defaultCategory) {
            defaultCategory.classList.add("active");
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const questions = document.querySelectorAll(".concerns-content");

        questions.forEach((question) => {
            question.addEventListener("click", function () {
                this.classList.toggle("active");

                const answer = this.querySelector(".answers-container");
                const icon = this.querySelector(".toggle-icon");

                if (this.classList.contains("active")) {
                    answer.style.display = "block";
                    icon.textContent = "-"; 
                } else {
                    answer.style.display = "none";
                    icon.textContent = "+"; 
                }
            });
        });

        const tabs = document.querySelectorAll(".cat-item");

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                tabs.forEach(item => item.classList.remove("active"));

                this.classList.add("active");
            });
        });


    });
</script>
