

<link rel="stylesheet" href="~/css/faqs.css" asp-append-version="true" />
<img src="~/img/curl_vector.png" alt="vector" class="floating-image">
<div class="faq-container">
    <!-- VERTICAL -->
    <div class="faq-content">
        <!-- WIDE IMAGE-->
        <div class="image-container">
           <div class="image-rectangle">HELLO, HOW CAN WE HELP?</div>
        </div>
        <!-- HORIZONTAL -->
        <div class="main-cat-container">
            <!-- VERTICAL -->
            <div class="cat-container">
                <div class="cat-border">
                    <ul class="cat-list">
                        <li class="cat-item all" data-target="all-container">
                            <i class="fas fa-list"></i> &nbsp; All
                        </li>
                        <li class="cat-item" data-target="general-container">
                            <i class="fas fa-info-circle"></i> &nbsp;  General
                        </li>
                        <li class="cat-item" data-target="packaging-container">
                            <i class="fas fa-box"></i> &nbsp; Packaging
                        </li>
                        <li class="cat-item" data-target="payout-container">
                            <i class="fas fa-money-bill-wave"></i> &nbsp;  Payout
                        </li>
                        <li class="cat-item" data-target="shipping-container">
                            <i class="fas fa-truck"></i> &nbsp;  Shipping
                        </li>
                    </ul>
                </div>
            </div>
            <!-- HORIZONTAL -->
            <div class="question-container">
                <!-- HORIZONTAL -->
                <div class="all-container">
                    <!-- HORIZONTAL -->
                    <div class="logo-container">
                        <img src="~/img/question_mark.webp" />
                        <!-- VERTICAL -->
                        <div class="category-header">
                            <span class="cat-title">All</span>
                            <span>Find support for all topics</span>
                        </div>
                    </div>
                    <!-- VERTICAL -->
                    <div class="concerns-container">
                        <!-- HORIZONTAL -->
                        <div class="concerns-content">
                            <span class="question"> Is it legal to sell my extra diabetic testing supplies?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Diabetic test strips are an over-the-counter medical supply and therefore completely legal to sell to a third party without a prescription.
                            </div>
                        </div>
                        <!-- HORIZONTAL -->
                        <div class="concerns-content">
                            <span class="question">
                                Why do the prices fluctuate?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Diabetic testing supplies are commodities and prices are set by the overall market. If you see a price go down, that typically means there are too many boxes out there with not enough demand from pharmacies.
                            </div>
                        </div>
                        <!-- HORIZONTAL -->
                        <div class="concerns-content">
                            <span class="question">
                                Can you email a shipping label?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Absolutely! Please select “Email Shipping Label” on the quote form.
                            </div>
                        </div>
                        <!-- HORIZONTAL -->
                        <div class="concerns-content">
                            <span class="question">
                                Who Pays for Shipping?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                We cover the shipping fee for the return labels. You can request a free pre-paid label to be mailed, emailed or receive a kit from us.
                            </div>
                        </div>
                        <!-- HORIZONTAL -->
                        <div class="concerns-content">
                            <span class="question">
                                What are the acceptable box conditions?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                <h4>  Boxes in these conditions we can accept at %50 as long as they are sealed: </h4>
                                Rips/non-blood stains with a total area smaller than a dime, slightly crushed boxes, partially obscured but still legible expiration dates, or expiration date 4-7 months.
                                <h4> Boxes that we cannot pay for are: </h4> 
                                Boxes with any type of stains/marks, opened/unsealed boxes, boxes with rips with a total area bigger than a dime, any brand that isn’t on our price list, very smashed/crushed boxes, boxes with damage to the seal of the box, boxes that the expiration date is expired or set to expire within less than 4 months.
                            </div>
                        </div>
                        <!-- HORIZONTAL -->
                        <div class="concerns-content">
                            <span class="question"> Is it legal to sell my extra diabetic testing supplies?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Diabetic test strips are an over-the-counter medical supply and therefore completely legal to sell to a third party without a prescription.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="general-container">
                    <div class="logo-container">
                        <img src="~/img/test_strips.webp" />
                        <div class="category-header">
                            <span class="cat-title">General</span>
                            <span>Get help with general inquiries.</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span> Is it legal to sell my extra diabetic testing supplies?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Diabetic test strips are an over-the-counter medical supply and therefore completely legal to sell to a third party without a prescription.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="packaging-container">
                    <div class="logo-container">
                        <img src="~/img/packaging_icon.webp">
                        <div class="category-header">
                            <span class="cat-title">Packaging</span>
                            <span>Get help with packaging</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                What are the acceptable box conditions?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                <h4>  Boxes in these conditions we can accept at %50 as long as they are sealed: </h4>
                                Rips/non-blood stains with a total area smaller than a dime, slightly crushed boxes, partially obscured but still legible expiration dates, or expiration date 4-7 months.
                                <h4> Boxes that we cannot pay for are: </h4>
                                Boxes with any type of stains/marks, opened/unsealed boxes, boxes with rips with a total area bigger than a dime, any brand that isn’t on our price list, very smashed/crushed boxes, boxes with damage to the seal of the box, boxes that the expiration date is expired or set to expire within less than 4 months.
                            </div>
                        </div> 
                        <div class="concerns-content">
                            <span>
                                Should I remove the pharmacy labels?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Please DO NOT remove any pharmacy labels on any of your items. You risk tearing the boxes and this would decrease your payout dramatically. We will black out personal information with a sharpie and remove all labels professionally.                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payout-container">
                    <div class="logo-container">
                        <img src="~/img/payout_icon.webp" />
                        <div class="category-header">
                            <span class="cat-title">Payout</span>
                            <span>Get help with payout</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                Why do the prices fluctuate?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Diabetic testing supplies are commodities and prices are set by the overall market. If you see a price go down, that typically means there are too many boxes out there with not enough demand from pharmacies.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shipping-container">
                    <div class="logo-container">
                        <img src="~/img/shipping_icon.webp" />
                        <div class="category-header">
                            <span class="cat-title">Shipping</span>
                            <span>Get help with shipping</span>
                        </div>
                    </div>
                    <div class="concerns-container">
                        <div class="concerns-content">
                            <span>
                                Can you email a shipping label?
                                <i class="toggle-icon">+</i>
                            </span>
                            <div class="answers-container">
                                Absolutely! Please select “Email Shipping Label” on the quote form.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll(".cat-item");
        const sections = document.querySelectorAll(".question-container > div");

        function showSection(target) {
            sections.forEach(section => {
                section.style.display = section.classList.contains(target) ? "block" : "none";
            });
        }

        showSection("all-container");

        items.forEach(item => {
            item.addEventListener("click", function () {
                const target = this.getAttribute("data-target");
                showSection(target);
            });
        });

        var defaultCategory = document.querySelector(".cat-item.all");

        if (defaultCategory) {
            defaultCategory.classList.add("active");
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const questions = document.querySelectorAll(".concerns-content");

        questions.forEach((question) => {
            question.addEventListener("click", function () {
                this.classList.toggle("active");

                const answer = this.querySelector(".answers-container");
                const icon = this.querySelector(".toggle-icon");

                if (this.classList.contains("active")) {
                    answer.style.display = "block";
                    icon.textContent = "-"; 
                } else {
                    answer.style.display = "none";
                    icon.textContent = "+"; 
                }
            });
        });

        const tabs = document.querySelectorAll(".cat-item");

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                tabs.forEach(item => item.classList.remove("active"));

                this.classList.add("active");
            });
        });


    });
</script>
