<link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="what-we-buy-content">
    <div class="what-we-buy-container">
        <h1 style="font-size: 3rem; font-weight: 900; color: var(--primaryColor);">Privacy Policy</h1>

        <div style="font-size: 1.2rem; color: #8195a4;">
            <h2>Consent to Receive Automated Messages</h2>
            <p>
                You understand that consent to receive automated messages is not a condition of purchase or use of our services.
                Messages may include, but are not limited to, order confirmations, updates, and special offers.
            </p>

            <h2>Frequency of Messages</h2>
            <p>
                Message frequency may vary based on your transactions, account activity, and ongoing promotions.
                You will receive messages relevant to your transactions and occasional promotional updates.
            </p>

            <h2>Opt-Out and Support Options</h2>
            <p>
                You may opt out of receiving text messages at any time by texting "STOP". Upon receipt of your opt-out request,
                you will be unsubscribed and will no longer receive text messages from us. A confirmation message will be sent to
                confirm your unsubscription. If you wish to re-subscribe, you may text "START" to receive SMS messages again.
            </p>
            <p>
                For assistance with the messaging service, text "HELP" or contact
                <a href="mailto:madtwinrecords@gmail.com">madtwinrecords@gmail.com</a>.
            </p>

            <h2>Wireless Carrier Rates and Services</h2>
            <p>
                Wireless message and data rates may apply. Wireless carriers are not liable for delayed or undelivered messages.
            </p>

            <h2>Confidentiality</h2>
            <p>
                We will maintain the confidentiality of your mobile number. Your mobile number will not be shared with third parties
                for their own marketing purposes. However, for operational purposes, your name and mobile number may be shared with
                our service providers who assist in the delivery of our SMS communications. These providers use your personal
                information solely to carry out the services they provide to Madtwin Records LLC.
            </p>

            <h2>Text / SMS Marketing</h2>
            <p>
                If you choose to opt-in to SMS communications from Madtwin Records LLC, you will receive text messages at the
                mobile number you provide. These messages might be automated and include promotional offers, coupons,
                and/or information related to your orders and account.
            </p>
        </div>
    </div>
</div>
