html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

    html::-webkit-scrollbar {
        display: none;
    }

html {
    scrollbar-width: none;
}

html {
    -ms-overflow-style: none;
}

body {
    margin-bottom: 60px;
    z-index: 1;
    font-family: Inter, sans-serif;
    margin: 0;
    position: relative;
}

:root {
    --primaryColor: #042F4D;
    --secondaryColor: #00598D;
    --lightBlue: #0179B4;
    --lightestBlue: #88D8FF;
    --black: #18181B;
    --white: #F3F3F3;
    --gradientBlue: linear-gradient(to right, #0179B4, #88D8FF);
    --textBlack: #4F4F4F;
    --header: #191919;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 1% 5%;
    border-radius: 12px;
    margin: 10px;
    text-transform: capitalize;
    position: fixed;
    z-index: 99999999999;
    width: 88vw;
}

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

        .navbar a:hover {
            background-color: var(--primaryColor);
            border-radius: 5px;
        }

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

    .nav-link:hover {
        background-color: var(--secondaryColor);
        border-radius: 5px;
        letter-spacing: 2px;
    }

    .nav-link:active {
        color: #88D8FF;
        transform: scale(0.95); /* Slightly shrink when clicked */
        opacity: 0.8; /* Adds a pressed effect */
    }


    .nav-link.active {
        color: #88D8FF;
      
    }

/* Mobile Menu */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--white);
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--black);
        width: 100%;
        padding: 10px;
        border-radius: 12px;
    }

    .nav-item {
        text-align: center;
        padding: 10px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu.show {
        display: flex;
    }
}


.footer-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 60px; 
    width: 100%;
}




footer {
    background-color: var(--primaryColor);
    color: #F3F3F3;
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.logo-container {
    display: flex; /* Enables flexbox */
    flex-direction: row; /* Aligns items horizontally */
    align-items: center; /* Centers items vertically */
    justify-content: center;
    text-align: center;
    gap: 20px; 
}

.logo-container span {
    font-weight: bolder;
    font-size: 18px;
}

.sell-button {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 1px;
    border: 2px solid #000; 
    border-radius: 12px;
    padding: 12px 24px;
    font-size: .8rem; 
    font-weight: 900;
    cursor: pointer;
    color: #141B22;
    background: #88D8FF;
    outline: none; 
    transition: all 0.3s ease-in-out; 
    text-transform: uppercase;
    height: 45px
}

    .sell-button img {
        width: 16px; /* Adjust icon size */
        height: 15px;
    }

    .sell-button:hover {
        background: #88D8FF;
        border-color: #333;
        transform: scale(1.08) rotate(1deg) translateY(-2px);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }




.button-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border-radius: 12px;
    padding: 20px 36px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
    background: var(--black);
    outline: none;
    letter-spacing: .5px;
}

.button-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border: 0px solid #000;
    border-radius: 12px;
    padding: 20px 36px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    color: var(--white);
    background: linear-gradient(to right, #0179B4, #88D8FF);
    outline: none;
    transition: all 0.3s ease-in-out;
    letter-spacing: .5px;
}


.text-gradient {
    background: linear-gradient(to right, #0179B4, #88D8FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}



.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 20px;
}

    /* The blue box behind the man with money */
    .text-center .blue-box-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; 
        display: flex;
        justify-content: center;
    }

        /* Blue Box Styling */
        .text-center .blue-box-container img {
            width: 100%; 
            max-width: 600px; 
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

/* Dark button styling */
.button-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border-radius: 12px;
    padding: 20px 36px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
    background: var(--black);
    outline: none;
    letter-spacing: .5px;
}

/* Gradient button styling */
.button-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border: 0px solid #000;
    border-radius: 12px;
    padding: 20px 36px;
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
    color: var(--white);
    background: linear-gradient(to right, #0179B4, #88D8FF);
    outline: none;
    transition: all 0.3s ease-in-out;
    letter-spacing: .5px;
}

/* Gradient text */
.text-gradient {
    background: linear-gradient(to right, #0179B4, #88D8FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}


.header-black {
    font-weight: 800;
    color: var(--black);
    font-size: 3vh;
    text-transform: uppercase;
}

.header-blue {
    font-weight: 800;
    color: var(--lightBlue);
    font-size: 3vh;
    text-transform: uppercase;
}